@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
/* img {
    flex: 1;
    display: flex;
    max-width:65px;
    max-height:65px;
    width: auto;
    height: auto;
    margin-bottom: 0px;
} */

#header {
  /* flex: 1; */
  /* display:flex; */
  /* background: #3f3f3f; */
  /* border-radius: 8px; */
  color: #f8f8f8;
  -webkit-font-smooting: antialiased;
  align-items: center;
}
#header h1 {
  font-size: 2rem;
  margin: 0px 70% 0px 10px;
}

#valorUSD {
  font-size: 1rem;
  margin: 10px;
  -webkit-font-smooting: antialiased;
}

#header table {
  background: #8d8c8d;
  font: 18px Roboto, sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-font-smooting: antialiased;
}

#US {
  /* display: flex; */
  /* flex: 1;
    background: #ecebeb;
    /* border-radius: 8px; */
  /* padding: 10px;
    width: 150px;
    height: 100px;
    margin: 20px;  */
  
  /* text-align: center; */
  align-content: space-between;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

#MB {
  background: #ecebeb;
  /* border-radius: 10px; */
  /* padding: 15px; */
  /* width: 550px; */
  /* height: 420px; */
  /* margin: 40px 30px 80px 90px ; */
  /* box-shadow: 3px 3px 10px #0000005d; */
  /* float: left; */
  display: flex;
  flex: 1;
}

#BN {
  background: #ecebeb;
  border-radius: 10px;
  padding: 15px;
  width: 350px;
  height: 350px;
  margin: 40px;
  box-shadow: 3px 3px 10px #0000005d;
  float: left;
  /* display: flex; */
}

#BT {
  background: #ecebeb;
  /* border-radius: 10px;
    padding: 15px;
    width: 550px;
    height: 420px;
    margin: 40px 15px 80px 70px;
    box-shadow: 3px 3px 10px #0000005d; */
  display: flex;
  /* display: flex; */
}

table {
  background: #8d8c8d;
  font: 1rem Roboto, sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  -webkit-font-smooting: antialiased;
}

thead {
  background: #212529 !important;
}

tr {
  height: 1rem;
  text-align: center;
}

td {
  width: 6rem;
  /* border:1px solid black; */
}

td#nomeBTC,
#valorBTC_C,
#valorBTC_V,
#valorBTCBT,
#valorBTCBT_V {
  background: #a007e7;
}
td#nomeETH,
#valorETH_C,
#valorETH_V,
#valorETHBT,
#valorETHBT_V {
  background: #077be7;
}
td#nomeBCH,
#valorBCH_C,
#valorBCH_V,
#valorBCHBT,
#valorBCHBT_V {
  background: #579be9;
}
td#nomeLTC,
#valorLTC_C,
#valorLTC_V,
#valorLTCBT,
#valorLTCBT_V {
  background: #7bbfe7;
}
td#nomeXRP,
#valorXRP_C,
#valorXRP_V,
#valorXRPBT,
#valorXRPBT_V {
  background: #628ba7;
}
td#nomeUSD {
  background: #3307cf;
}

/* #logo {
  display: flex;
  text-align: center;
  font: 1rem Roboto, sans-serif;
  align-items: center;

} */

#dolar {
  display: flex;
  color: white;
  background: #00a800;
  text-align: center;
  /* font: 1rem Roboto, sans-serif; */
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#valorUSDll {
  background: #00a800;
  text-align: center;
  justify-items: right;
}

footer {
  text-align: center;
  width: 100%;
  height: 100%;
  font: 20px Roboto, sans-serif;
  color: #a007e7;
  -webkit-font-smooting: antialiased;
  float: left;
  margin-top: 30px;
}
/* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 2.5rem;
    }
  } */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
